<br>
<div class="text-right">
  <button type="button" class="btn btn-success mb-2  ">
    <h3> Hey Dr. {{name}}!</h3>
    <h5 class="text-white font-weight-bold">{{hospital}}</h5>
    <h6 class="text-white ">({{department}})</h6>
  </button>
</div>


<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card  mb-3" style="opacity: 0.8;">
      <div class="card-body text-center">
        <h5 class="card-title font-weight-bold">Returning Patient</h5>
        <p class="card-text">A patient who already has a Medical Card attached with Aadhar</p>
        <a href="/patient/login" class="btn btn-primary">New Case</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card  mb-3" style="opacity: 0.8;">
      <div class="card-body text-center">
        <h5 class="card-title font-weight-bold">New Patient</h5>
        <p class="card-text">A patient who does not have a registered Medical Card</p>
        <a href="/patient/register" class="btn btn-primary">Register Patient</a>
      </div>
    </div>
  </div>
</div>