<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <h3 class="text-center lead  mb-3 ">User Login</h3>
      <form method="POST" action="/patient/login">

        <div class="form-group">
          <label for="uid">Unique ID (Aadhar Card Number)</label>
          <input type="text" value="{{unid}}" name="uid" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="password">Secret Code (4 digit)</label>
          <input type="password" value="{{pass}}" name="password" class="form-control" required>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-dark">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<br>
{{#if notYou}}
<h5 class="text-white text-center">{{notYou}}</h5>
<h5 class="text-white text-center">(Close window and try again..)</h5>

{{else}}
{{#if user}}
<h5 class="text-white text-center font-weight-bold">Or</h5>
<br>
<button onclick="m()" class="btn btn-block w-25 btn-success mx-auto">
  <h3> Scan Card</h3>
</button>
{{/if}}
{{/if}}

<br>

<div id="qrscanner" class="text-center">

</div>
<script>
  function m() {
    document.getElementById("qrscanner").innerHTML = '<iframe src="https://qrcodescan.in"></iframe>';
    setTimeout(function () {
      document.getElementById('qrscanner').innerHTML = '';
    }, 9000);
  }

</script>