<div class="text-right">
  <a href="/gov/logout" class="btn btn-danger ">
    <h5>Logout</h5>
  </a>
</div>
<br>
<div>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="card  mb-3" style="opacity: 0.8;">
        <div class="card-body text-center">
          <h5 class="card-title font-weight-bold">Analytics Dashboard</h5>
          <p class="card-text">View the visual charts of Big Data according to different aspects and blah blah</p>
          <a href="/gov/stats" class="btn btn-primary "> View stats</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card  mb-3" style="opacity: 0.8;">
        <div class="card-body text-center">
          <h5 class="card-title font-weight-bold">Send Public Message</h5>
          <p class="card-text">Send a message to the people of the country giving them suggestion and alerts</p>
          <a href="/gov/message" class="btn btn-primary">Send Message</a>
        </div>
      </div>
    </div>
  </div>
</div>